.container {
  height: 100vh;
  height: -webkit-fill-available;
  display: flex;
  flex-direction: column;
}

.main {
  overflow-y: auto;
  flex-grow: 1;
}

.header {
  box-shadow: 0 -4px 8px #000;
  background-color: white;
  z-index: 1;
}

.footer {
  box-shadow: 0 4px 8px #000;
  background-color: white;
  padding: 8px;
  z-index: 1;
}

@media (min-width: 640px) {
  .container {
    height: auto;
    display: block;
    max-width: 640px;
    margin: 0 auto;
    padding-bottom: 24px;
  }

  .header {
    box-shadow: none;
    background-color: transparent;
    z-index: 1;
  }

  .footer {
    box-shadow: none;
    background-color: transparent;
    padding: 0;
    margin-top: 24px;
  }
}
